# Python virtual environment
genV/
.venv/
old/
app/

# Python cache
__pycache__/
*.pyc

# IDE and editor settings
.idea/
.vscode/

# Temporary MS Office files
~$*
*.tmp
*.docx
preprocessor.py
Qmax Env w 1_2 UF.res.mat