# Python virtual environment
genV/
.venv/
old/
app/
main/results/
main/input/

# Python cache
__pycache__/
*.pyc

# IDE and editor settings
.idea/
.vscode/

# Temporary MS Office files
~$*
*.tmp
*.docx
A1X.txt